@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f59e0b;
  --bg-app: #0b0f1a;
  --bg-surface: #1e293b;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --border-dim: #3341551a;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-app);
  color: var(--text-main);
}
